{{- if not (.Param "hideHeader") }}
{{- $labelText := (site.Params.label.text | default site.Title) -}}
{{- $masthead := site.Params.masthead -}}
{{- $issue := $masthead.issue | default "VOL. I · NO. 01" -}}
{{- $dateline := $masthead.dateline | default (now.Format "Monday, the 2nd of January") -}}
{{- $brandAvatar := site.Params.masthead.avatar | default "/nav-avatar.png" -}}
<header class="header masthead{{ if .IsHome }} masthead--home{{ end }}">
    <div class="masthead__rule" aria-hidden="true"></div>
    <div class="masthead__plate">
        <div class="masthead__issue">{{ $issue }}</div>
        <a class="masthead__brand" href="{{ "" | absLangURL }}" accesskey="h" title="{{ $labelText }} (Alt + H)">
            <span class="masthead__brand-word">Jian</span>
            <span class="masthead__no-logo" aria-hidden="true">
                <span class="masthead__no-hook">の</span>
                <img class="masthead__no-avatar" src="{{ $brandAvatar | relURL }}" alt="" width="64" height="64">
            </span>
            <span class="masthead__brand-word">Blog</span>
            <span class="sr-only">{{ $labelText }}</span>
        </a>
        <time class="masthead__date" datetime="{{ now.Format "2006-01-02" }}">{{ $dateline }}</time>
    </div>

    <nav class="nav masthead__nav" aria-label="主导航">
        {{- $currentPage := . }}
        <ul id="menu">
            {{- range site.Menus.main }}
            {{- if not .Parent }}
            {{- $menuItemURL := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL)) | absLangURL }}
            {{- $pageURL := $currentPage.Permalink | absLangURL }}
            {{- $isSearch := eq .Identifier "search" }}
            {{- $hasChildren := gt (len .Children) 0 }}
            <li class="menu-item{{ if $hasChildren }} menu-item-has-children{{ end }}">
                <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}{{ cond $isSearch " (Alt + /)" "" }}"
                {{- cond $isSearch (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr) }}>
                    <span {{- if eq $menuItemURL $pageURL }} class="active" {{- end }}>
                        {{- if eq .Identifier "about" -}}
                        <img class="nav-avatar__image" src="{{ $brandAvatar | relURL }}" alt="关于" width="32" height="32">
                        {{- else -}}
                        {{- .Pre }}
                        {{- .Name -}}
                        {{ .Post -}}
                        {{- if $hasChildren }}<span class="menu-arrow" aria-hidden="true">⌄</span>{{- end }}
                        {{- end -}}
                    </span>
                </a>
                {{- if $hasChildren }}
                <ul class="sub-menu">
                    {{- range .Children }}
                    <li><a href="{{ .URL | absLangURL }}"><span>{{ .Name }}</span></a></li>
                    {{- end }}
                </ul>
                {{- end }}
            </li>
            {{- end }}
            {{- end }}
        </ul>
    </nav>
</header>
{{- end }}
